/* style-poems.css - General Styles for Poems Page  */

html,
body {
  height: auto; /* Убираем фиксированную высоту */
  overflow-x: hidden; /* Предотвращаем горизонтальную прокрутку */
}

body {
  font-family: "Arial", sans-serif;
  /* background-color: #f5f5f5; */
  background-color: rgba(0, 76, 101, 0.5);
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1rem;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  color: #333;
}

p {
  font-size: 1rem;
  color: #333;
}

.poem-container {
  background-color: #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  /* width: 90%; */
  width: calc(
    100% - 40px
  ); /* Используем calc, чтобы избежать выхода за пределы экрана */
  max-width: 600px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 1rem;
  max-height: none; /* Убедитесь, что высота не ограничена */
}

/* Responsive Design */
@media (max-width: 600px) {
  .poem-container {
    width: calc(100% - 20px); /* Делаем контейнер шире с небольшими отступами */
    /* width: 100%; */
    padding: 15px;
    margin: 10px;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  p {
    font-size: 0.9rem;
  }
}
